$body-bg: #141414;
$body-color: rgb(1, 2, 1, 2);

// Typography
$font-family-sans-serif: 'Encode Sans', sans-serif;
$font-size-base: 0.9rem;
$font-size-sm: 0.8rem;
$line-height-base: 1.6;

$primary-color: #141414;
$second-color: #1c1c1c;
$third-color: #FF0000;
$box-shadow:  0px 8px 18px rgba(0, 0, 0, 0.75);

